body {
    font-family: "Roboto", sans-serif;
    background-color: #FFF;
    margin: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

.header {
    
}

.header__menu {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: end;
    background-color: #F4F4F4;
    color: #AAA;
    font-size: 12px;
    line-height: 33px;
}

.header__navigation {
    min-height: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 250px;
    align-items: center
}

.header__logo {
    filter: brightness(0%);
    width: 50px;
    height: 100%;
}

.header__container-navigation {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.header__container-data {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.header__point {
    width: 20px;
    height: 100%;
}

.header__cart {
    width: 25px;
    height: 100%;
}


.header__container-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.header__location {
}

.header__line {
    border: 1px solid #E0E0E0;
    margin-bottom: 50px;
}

.main {
    max-width: 1296px;
    margin: 0 auto;
}

.room {
    margin-bottom: 80px;
    overflow: hidden;
    border-radius: 20px;
}

.design {
    display: flex;
    gap: 136px;
    max-width: 1200px;
    margin: 0 auto 210px;
}

.design__title {
    padding-left: 55px;
    font-size: 48px;
    color: #1A1A1A;
}

.design__text {
    padding-right: 85px;
    font-size: 24px;
    line-height: 1.4;
    color: #AAA;
}

.type-design {
    display: grid;
    grid-template-columns: repeat(2, 588px);
    row-gap: 32px;
    column-gap: 24px;
    padding-bottom: 32px;
    margin: 0 48px 215px;
}

.brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 190px;
    max-width: 1090px;
}

.brands__title {
    padding-bottom: 25px;
    font-size: 48px;
    color: #1A1A1A;
}

.brands__subtitle {
    padding-bottom: 125px;
    font-size: 24px;
    color: #4A4A4A;
}

.brands__container-images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 50px;
}

.brands__image {
    justify-self: center;
}

.advantages {
    margin: 0 auto 240px;
}

.advantages__title {
    max-width: 1077px;
    align-items: left;
    font-size: 48px;
    padding-bottom: 24px;
    margin: 0 auto
}

.advantages__subtitle {
    max-width: 1077px;
    font-size: 14px;
    color: #46856E;
    margin: 0 auto;
    padding-bottom: 48px;
}

.advantages__containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1077px;
    gap: 40px;
    margin: 0 auto;
}

.advantages__container-image {
    max-width: 162px;
    margin: 0 auto;
}

.advantages__title-card {
    justify-content: left;
    color: #1A1A1A;
    font-size: 24px;
    padding: 24px 0 16px;
}

.advantages__text-card {
    color: #AAA;
    font-size: 16px;
}



.reviews {
    display: flex;
    align-items: center;
    min-height: 800px;
    background-image: url(/images/reviews.png);
    margin-bottom: 240px;
}

.reviews__containers {
    display: grid;
    max-width: 1200px;
    padding-left: 180px;
    gap: 32px;
}

.reviews__container {
    display: grid;
    gap: 8px;
}

.reviews__title {
    color: #FFF;
    font-size: 24px;
    line-height: 1.32;
}

.reviews__button {
    color: #FFF;
    font-size: 16px;
    letter-spacing: 0.75px;
    line-height: 1.12;
}



.description {
    max-width: 1200px;
    margin: 0 auto 288px;
}

.description__container-main {
    margin: 0 auto;
    max-width: 882px;
    padding-bottom: 132px;
}

.description__main-text {
    color: #AAA;
    font-size: 46px;
    line-height: 1.52;
    padding-bottom: 25px;
}

.description__main-quote {
    color: #000;
    font-size: 46px;
    line-height: 1.52;
}

.description__container-definition {
    display: grid;
    gap: 64px;
}

.description__container-definition-item {
    max-width: 1200px;
    display: grid;
    gap: 90px;
    grid-template-columns: 671px 1fr;
    align-items: center;
    padding-right: 128px;
}

.description__container-definition-item:nth-child(2) {
    grid-template-columns: 1fr 671px;
    padding-left: 128px;
    padding-right: 0;
}

.description__text-field {
    display: grid;
    align-items: center;
}

.description__title {
    color: #1A1A1A;
    font-size: 32px;
    line-height: 1.36;
    padding-bottom: 27px;
}

.description__text {
    color: #AAA;
    font-size: 16px;
    line-height: 1.24;
}



.trial-version {
    display: grid;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto 80px;
    background-color: #F2F2F2;
}

.trial-version__title {
    font-size: 46px;
    line-height: 1.5;
    padding: 64px 0px;
}

.trial-version__container-images {
    display: flex;
    gap: 66px;
    padding-bottom: 70px;
}

.trial-version__button {
    background-color: #46856E;
    color: #FFF;
    padding: 10px 24px;
    margin-bottom: 24px;
    border-radius: 5px;
}

.trial-version__text {
    color: #AAA;
    font-size: 12px;
    padding-bottom: 24px;
}

.trial-version__link:hover {
    color: #000;
    font-size: 12px;
    line-height: 1.2;
}

.trial-version__link {
    color: #4A4A4A;
}

.footer {
    padding: 96px 0 50px;
    background-color: #2B2B2B;
    color: #FFF;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.footer__frame {
    max-height: 620px;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
}


.footer__container-links {
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.footer__points-title {
    padding-bottom: 16px;
}

.footer__points {
    list-style-type: none;
}

.footer__link {
    text-decoration: none;
}

.footer__link:link, .footer__link:visited {
    color: #FFF;
}
.footer__link:hover {
    color: #dadada;
}

.footer__mailing-form-checkbox {
    margin-left: -18px;
}

ul  {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
}